%form{method: "POST"}
  #name_text{"data-question" => "name", "data-question-type" => "html-text"}
    %label{for: "name"} Hello, my name is
    %input{name: "name-text"}
  #name_select{"data-question" => "name", "data-question-type" => "html-select"}
    %label{for: "name"} Hello, my name is
    %select{name: "name-select"}
      %option Antony
      %option Andy
      %option James
      %option Johannes
  %input{type: "submit", name: "submit", value: "Submit"}
